name: Sync with upstream

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'Dockerfile'
      - 'src/**'
      - '.github/workflows/**'

jobs:
  build:
    name: Create the corresponding tag for the release

    runs-on: ubuntu-latest
    steps:
    - name: Get GITHUB_TOKEN for checkout
      uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
      id: app-token
      with:
        app-id: ${{ secrets.renovate_app_id }}
        private-key: ${{ secrets.renovate_app_priv_key }}

    - name: Check out code with the Github App Installation Token
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        token: '${{ steps.app-token.outputs.token }}'

    - uses: fregante/setup-git-user@024bc0b8e177d7e77203b48dab6fb45666854b35 # v2

    - name: Tag the actions release tag
      run: |
        LATEST_TAG=v$(grep -E '^FROM renovate/renovate:' Dockerfile | cut -d: -f2 | cut -d@ -f1)
        git tag -f "${LATEST_TAG}"
        git push -f origin "refs/tags/${LATEST_TAG}"
